In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split

vamos abrir el archivo que es xlsx

In [2]:
file_name = "sequia2023.xlsx"

In [3]:
sheet_name = 0
df = pd.read_excel(file_name, sheet_name=sheet_name)

In [4]:
df.head()

,CVE_CONCATENADA,CVE_ENT,CVE_MUN,NOMBRE_MUN,ENTIDAD,ORG_CUENCA,CLV_OC,CON_CUENCA,CVE_CONC,2003-01-31 00:00:00,...,2023-08-15 00:00:00,2023-08-31 00:00:00,2023-09-15 00:00:00,2023-09-30 00:00:00,2023-10-15 00:00:00,2023-10-31 00:00:00,2023-11-15 00:00:00,2023-11-30 00:00:00,2023-12-15 00:00:00,2023-12-31 00:00:00
0,1001,1,1,Aguascalientes,Aguascalientes,Lerma Santiago Pacífico,VIII,Rio Santiago,16,NaN,...,D3,D3,D3,D3,D3,D3,D3,D3,D1,D1
1,1002,1,2,Asientos,Aguascalientes,Lerma Santiago Pacífico,VIII,Rio Santiago,16,NaN,...,D3,D3,D3,D3,D3,D3,D3,D2,D1,D1
2,1003,1,3,Calvillo,Aguascalientes,Lerma Santiago Pacífico,VIII,Rio Santiago,16,NaN,...,D3,D3,D3,D3,D3,D3,D3,D3,D3,D3
3,1004,1,4,Cosío,Aguascalientes,Lerma Santiago Pacífico,VIII,Rio Santiago,16,NaN,...,D2,D2,D3,D3,D3,D3,D3,D3,D2,D2
4,1005,1,5,Jesús María,Aguascalientes,Lerma Santiago Pacífico,VIII,Rio Santiago,16,NaN,...,D3,D3,D3,D3,D3,D3,D3,D3,D2,D2

eliminaremos las columnas que no necesitamos, la mayoria son claves de identificacion, tambien eliminaremos las ciudades de cada estado, solo necesitamos saber el estado y los datos historicos de las sequias

In [5]:
df = df.drop(columns=["CVE_CONCATENADA","CVE_ENT","CVE_MUN","NOMBRE_MUN", "ORG_CUENCA", "CLV_OC","CVE_CONC","CON_CUENCA","CVE_CONC"])

In [6]:
df.head()

,ENTIDAD,2003-01-31 00:00:00,2003-02-28 00:00:00,2003-03-31 00:00:00,2003-04-30 00:00:00,2003-05-31 00:00:00,2003-06-30 00:00:00,2003-07-31 00:00:00,2003-08-31 00:00:00,2003-09-30 00:00:00,...,2023-08-15 00:00:00,2023-08-31 00:00:00,2023-09-15 00:00:00,2023-09-30 00:00:00,2023-10-15 00:00:00,2023-10-31 00:00:00,2023-11-15 00:00:00,2023-11-30 00:00:00,2023-12-15 00:00:00,2023-12-31 00:00:00
0,Aguascalientes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,D3,D3,D3,D3,D3,D3,D3,D3,D1,D1
1,Aguascalientes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,D3,D3,D3,D3,D3,D3,D3,D2,D1,D1
2,Aguascalientes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,D3,D3,D3,D3,D3,D3,D3,D3,D3,D3
3,Aguascalientes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,D2,D2,D3,D3,D3,D3,D3,D3,D2,D2
4,Aguascalientes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,D3,D3,D3,D3,D3,D3,D3,D3,D2,D2

In [7]:
orig_df = df.copy()

In [8]:
df_replace = df.replace({'D0': 1,'D1':2,'D2':3,'D3':4,'D4':5})

In [9]:
df_replace=df_replace.fillna(0)

In [10]:
df_replace.head()

,ENTIDAD,2003-01-31 00:00:00,2003-02-28 00:00:00,2003-03-31 00:00:00,2003-04-30 00:00:00,2003-05-31 00:00:00,2003-06-30 00:00:00,2003-07-31 00:00:00,2003-08-31 00:00:00,2003-09-30 00:00:00,...,2023-08-15 00:00:00,2023-08-31 00:00:00,2023-09-15 00:00:00,2023-09-30 00:00:00,2023-10-15 00:00:00,2023-10-31 00:00:00,2023-11-15 00:00:00,2023-11-30 00:00:00,2023-12-15 00:00:00,2023-12-31 00:00:00
0,Aguascalientes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,2.0,2.0
1,Aguascalientes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0,2.0,2.0
2,Aguascalientes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
3,Aguascalientes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0,3.0
4,Aguascalientes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0,3.0

In [11]:
df_replace["ENTIDAD"].unique()

array(['Aguascalientes', 'Baja California', 'Baja California Sur',
       'Campeche', 'Coahuila de Zaragoza', 'Colima', 'Chiapas',
       'Chihuahua', 'Ciudad de México', 'Durango', 'Guanajuato',
       'Guerrero', 'Hidalgo', 'Jalisco', 'Estado de México',
       'Michoacán de Ocampo', 'Morelos', 'Nayarit', 'Nuevo León',
       'Oaxaca', 'Puebla', 'Querétaro de Arteaga', 'Quintana Roo',
       'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas',
       'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán',
       'Zacatecas'], dtype=object)

In [12]:
max = df_replace.groupby('ENTIDAD').max()

new_df = pd.DataFrame(max)
print(new_df)

                                 2003-01-31  2003-02-28  2003-03-31  \
ENTIDAD
Aguascalientes                          0.0         0.0         0.0
Baja California                         4.0         3.0         2.0
Baja California Sur                     3.0         3.0         3.0
Campeche                                1.0         2.0         2.0
Chiapas                                 2.0         2.0         2.0
Chihuahua                               4.0         4.0         4.0
Ciudad de México                        1.0         1.0         1.0
Coahuila de Zaragoza                    3.0         3.0         3.0
Colima                                  0.0         0.0         0.0
Durango                                 3.0         3.0         3.0
Estado de México                        2.0         2.0         2.0
Guanajuato                              0.0         0.0         0.0
Guerrero                                4.0         4.0         4.0
Hidalgo                                 1.0         1.0         1.0
Jalisco                                 0.0         0.0         0.0
Michoacán de Ocampo                     1.0         1.0         1.0
Morelos                                 3.0         3.0         3.0
Nayarit                                 1.0         1.0         1.0
Nuevo León                              0.0         1.0         1.0
Oaxaca                                  4.0         4.0         4.0
Puebla                                  4.0         4.0         4.0
Querétaro de Arteaga                    0.0         0.0         1.0
Quintana Roo                            0.0         0.0         0.0
San Luis Potosí                         1.0         1.0         1.0
Sinaloa                                 5.0         5.0         5.0
Sonora                                  5.0         5.0         5.0
Tabasco                                 2.0         2.0         2.0
Tamaulipas                              2.0         2.0         1.0
Tlaxcala                                1.0         1.0         1.0
Veracruz de Ignacio de la Llave         2.0         2.0         2.0
Yucatán                                 0.0         1.0         0.0
Zacatecas                               0.0         0.0         0.0

                                 2003-04-30  2003-05-31  2003-06-30  \
ENTIDAD
Aguascalientes                          0.0         0.0         0.0
Baja California                         2.0         2.0         2.0
Baja California Sur                     3.0         3.0         2.0
Campeche                                2.0         2.0         1.0
Chiapas                                 2.0         2.0         1.0
Chihuahua                               4.0         4.0         4.0
Ciudad de México                        1.0         1.0         0.0
Coahuila de Zaragoza                    3.0         3.0         3.0
Colima                                  0.0         0.0         0.0
Durango                                 3.0         3.0         3.0
Estado de México                        2.0         2.0         0.0
Guanajuato                              0.0         0.0         0.0
Guerrero                                4.0         4.0         4.0
Hidalgo                                 1.0         1.0         1.0
Jalisco                                 1.0         1.0         0.0
Michoacán de Ocampo                     1.0         1.0         0.0
Morelos                                 3.0         3.0         3.0
Nayarit                                 1.0         1.0         1.0
Nuevo León                              0.0         0.0         0.0
Oaxaca                                  4.0         4.0         4.0
Puebla                                  4.0         4.0         4.0
Querétaro de Arteaga                    0.0         0.0         1.0
Quintana Roo                            0.0         0.0         1.0
San Luis Potosí                         1.0         1.0         1.0
Sinaloa                                 5.0         5.0         5.0
Sonora                                  5.0         5.0         5.0
Tabasco                                 2.0         2.0         2.0
Tamaulipas                              1.0         1.0         2.0
Tlaxcala                                1.0         1.0         1.0
Veracruz de Ignacio de la Llave         2.0         2.0         2.0
Yucatán                                 0.0         0.0         1.0
Zacatecas                               1.0         1.0         1.0

                                 2003-07-31  2003-08-31  2003-09-30  \
ENTIDAD
Aguascalientes                          0.0         0.0         0.0
Baja California                         2.0         0.0         1.0
Baja California Sur                     2.0         0.0         0.0
Campeche                                1.0         0.0         1.0
Chiapas                                 2.0         0.0         1.0
Chihuahua                               4.0         0.0         4.0
Ciudad de México                        0.0         0.0         0.0
Coahuila de Zaragoza                    3.0         0.0         1.0
Colima                                  1.0         0.0         1.0
Durango                                 3.0         0.0         1.0
Estado de México                        0.0         0.0         2.0
Guanajuato                              0.0         0.0         0.0
Guerrero                                4.0         0.0         2.0
Hidalgo                                 1.0         0.0         0.0
Jalisco                                 1.0         0.0         1.0
Michoacán de Ocampo                     1.0         0.0         1.0
Morelos                                 3.0         0.0         2.0
Nayarit                                 1.0         0.0         0.0
Nuevo León                              0.0         0.0         0.0
Oaxaca                                  4.0         0.0         2.0
Puebla                                  4.0         0.0         2.0
Querétaro de Arteaga                    0.0         0.0         0.0
Quintana Roo                            1.0         0.0         1.0
San Luis Potosí                         1.0         0.0         1.0
Sinaloa                                 4.0         0.0         3.0
Sonora                                  5.0         0.0         4.0
Tabasco                                 2.0         0.0         1.0
Tamaulipas                              1.0         0.0         1.0
Tlaxcala                                1.0         0.0         0.0
Veracruz de Ignacio de la Llave         2.0         0.0         1.0
Yucatán                                 1.0         0.0         1.0
Zacatecas                               0.0         0.0         0.0

                                 2003-10-31  ...  2023-08-15  2023-08-31  \
ENTIDAD                                      ...
Aguascalientes                          0.0  ...         4.0         4.0
Baja California                         1.0  ...         1.0         1.0
Baja California Sur                     0.0  ...         1.0         0.0
Campeche                                1.0  ...         2.0         2.0
Chiapas                                 1.0  ...         3.0         3.0
Chihuahua                               5.0  ...         3.0         3.0
Ciudad de México                        0.0  ...         2.0         2.0
Coahuila de Zaragoza                    0.0  ...         3.0         3.0
Colima                                  0.0  ...         3.0         3.0
Durango                                 0.0  ...         4.0         4.0
Estado de México                        0.0  ...         4.0         4.0
Guanajuato                              0.0  ...         4.0         4.0
Guerrero                                1.0  ...         4.0         4.0
Hidalgo                                 0.0  ...         4.0         4.0
Jalisco                                 0.0  ...         4.0         4.0
Michoacán de Ocampo                     1.0  ...         4.0         4.0
Morelos                                 0.0  ...         3.0         3.0
Nayarit                                 0.0  ...         4.0         4.0
Nuevo León                              0.0  ...         3.0         3.0
Oaxaca                                  1.0  ...         3.0         3.0
Puebla                                  0.0  ...         2.0         2.0
Querétaro de Arteaga                    0.0  ...         4.0         4.0
Quintana Roo                            1.0  ...         2.0         1.0
San Luis Potosí                         0.0  ...         4.0         4.0
Sinaloa                                 1.0  ...         3.0         3.0
Sonora                                  4.0  ...         3.0         3.0
Tabasco                                 1.0  ...         2.0         2.0
Tamaulipas                              0.0  ...         3.0         4.0
Tlaxcala                                0.0  ...         1.0         1.0
Veracruz de Ignacio de la Llave         0.0  ...         2.0         3.0
Yucatán                                 1.0  ...         2.0         2.0
Zacatecas                               0.0  ...         4.0         4.0

                                 2023-09-15  2023-09-30  2023-10-15  \
ENTIDAD
Aguascalientes                          4.0         4.0         4.0
Baja California                         0.0         0.0         0.0
Baja California Sur                     0.0         0.0         0.0
Campeche                                2.0         2.0         2.0
Chiapas                                 3.0         3.0         3.0
Chihuahua                               4.0         4.0         4.0
Ciudad de México                        2.0         2.0         2.0
Coahuila de Zaragoza                    3.0         4.0         4.0
Colima                                  3.0         4.0         1.0
Durango                                 4.0         5.0         5.0
Estado de México                        4.0         4.0         4.0
Guanajuato                              4.0         4.0         4.0
Guerrero                                4.0         4.0         4.0
Hidalgo                                 4.0         5.0         5.0
Jalisco                                 4.0         4.0         4.0
Michoacán de Ocampo                     4.0         4.0         4.0
Morelos                                 3.0         3.0         3.0
Nayarit                                 4.0         4.0         4.0
Nuevo León                              4.0         4.0         3.0
Oaxaca                                  3.0         4.0         4.0
Puebla                                  3.0         4.0         4.0
Querétaro de Arteaga                    4.0         5.0         5.0
Quintana Roo                            1.0         2.0         2.0
San Luis Potosí                         4.0         5.0         5.0
Sinaloa                                 4.0         4.0         4.0
Sonora                                  4.0         4.0         4.0
Tabasco                                 2.0         2.0         2.0
Tamaulipas                              4.0         4.0         4.0
Tlaxcala                                2.0         2.0         2.0
Veracruz de Ignacio de la Llave         3.0         5.0         4.0
Yucatán                                 2.0         2.0         2.0
Zacatecas                               4.0         4.0         4.0

                                 2023-10-31  2023-11-15  2023-11-30  \
ENTIDAD
Aguascalientes                          4.0         4.0         4.0
Baja California                         0.0         0.0         0.0
Baja California Sur                     0.0         0.0         0.0
Campeche                                2.0         2.0         2.0
Chiapas                                 3.0         3.0         3.0
Chihuahua                               4.0         4.0         4.0
Ciudad de México                        2.0         2.0         2.0
Coahuila de Zaragoza                    4.0         3.0         3.0
Colima                                  1.0         1.0         1.0
Durango                                 5.0         5.0         5.0
Estado de México                        4.0         4.0         4.0
Guanajuato                              4.0         4.0         4.0
Guerrero                                3.0         3.0         3.0
Hidalgo                                 5.0         5.0         5.0
Jalisco                                 4.0         4.0         4.0
Michoacán de Ocampo                     4.0         4.0         4.0
Morelos                                 3.0         3.0         3.0
Nayarit                                 3.0         3.0         4.0
Nuevo León                              3.0         4.0         4.0
Oaxaca                                  4.0         4.0         4.0
Puebla                                  4.0         4.0         4.0
Querétaro de Arteaga                    5.0         5.0         5.0
Quintana Roo                            3.0         3.0         3.0
San Luis Potosí                         5.0         5.0         5.0
Sinaloa                                 4.0         4.0         4.0
Sonora                                  4.0         4.0         4.0
Tabasco                                 2.0         2.0         2.0
Tamaulipas                              4.0         4.0         4.0
Tlaxcala                                2.0         2.0         2.0
Veracruz de Ignacio de la Llave         4.0         4.0         4.0
Yucatán                                 3.0         3.0         3.0
Zacatecas                               4.0         4.0         4.0

                                 2023-12-15  2023-12-31
ENTIDAD
Aguascalientes                          4.0         4.0
Baja California                         0.0         0.0
Baja California Sur                     0.0         0.0
Campeche                                2.0         2.0
Chiapas                                 3.0         3.0
Chihuahua                               4.0         5.0
Ciudad de México                        2.0         2.0
Coahuila de Zaragoza                    3.0         3.0
Colima                                  0.0         1.0
Durango                                 5.0         5.0
Estado de México                        4.0         4.0
Guanajuato                              4.0         4.0
Guerrero                                3.0         3.0
Hidalgo                                 5.0         5.0
Jalisco                                 4.0         4.0
Michoacán de Ocampo                     4.0         4.0
Morelos                                 3.0         3.0
Nayarit                                 3.0         3.0
Nuevo León                              4.0         4.0
Oaxaca                                  4.0         4.0
Puebla                                  4.0         4.0
Querétaro de Arteaga                    5.0         5.0
Quintana Roo                            3.0         3.0
San Luis Potosí                         5.0         5.0
Sinaloa                                 4.0         4.0
Sonora                                  4.0         5.0
Tabasco                                 2.0         2.0
Tamaulipas                              4.0         4.0
Tlaxcala                                1.0         2.0
Veracruz de Ignacio de la Llave         4.0         4.0
Yucatán                                 3.0         3.0
Zacatecas                               4.0         4.0

[32 rows x 370 columns]

In [13]:
new_df.head()

,2003-01-31,2003-02-28,2003-03-31,2003-04-30,2003-05-31,2003-06-30,2003-07-31,2003-08-31,2003-09-30,2003-10-31,...,2023-08-15,2023-08-31,2023-09-15,2023-09-30,2023-10-15,2023-10-31,2023-11-15,2023-11-30,2023-12-15,2023-12-31
ENTIDAD,,,,,,,,,,,,,,,,,,,,,
Aguascalientes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
Baja California,4.0,3.0,2.0,2.0,2.0,2.0,2.0,0.0,1.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Baja California Sur,3.0,3.0,3.0,3.0,3.0,2.0,2.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Campeche,1.0,2.0,2.0,2.0,2.0,1.0,1.0,0.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
Chiapas,2.0,2.0,2.0,2.0,2.0,1.0,2.0,0.0,1.0,1.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0

In [27]:
df_trans = new_df.T 
df_trans.head()

ENTIDAD,Aguascalientes,Baja California,Baja California Sur,Campeche,Chiapas,Chihuahua,Ciudad de México,Coahuila de Zaragoza,Colima,Durango,...,Quintana Roo,San Luis Potosí,Sinaloa,Sonora,Tabasco,Tamaulipas,Tlaxcala,Veracruz de Ignacio de la Llave,Yucatán,Zacatecas
2003-01-31 00:00:00,0.0,4.0,3.0,1.0,2.0,4.0,1.0,3.0,0.0,3.0,...,0.0,1.0,5.0,5.0,2.0,2.0,1.0,2.0,0.0,0.0
2003-02-28 00:00:00,0.0,3.0,3.0,2.0,2.0,4.0,1.0,3.0,0.0,3.0,...,0.0,1.0,5.0,5.0,2.0,2.0,1.0,2.0,1.0,0.0
2003-03-31 00:00:00,0.0,2.0,3.0,2.0,2.0,4.0,1.0,3.0,0.0,3.0,...,0.0,1.0,5.0,5.0,2.0,1.0,1.0,2.0,0.0,0.0
2003-04-30 00:00:00,0.0,2.0,3.0,2.0,2.0,4.0,1.0,3.0,0.0,3.0,...,0.0,1.0,5.0,5.0,2.0,1.0,1.0,2.0,0.0,1.0
2003-05-31 00:00:00,0.0,2.0,3.0,2.0,2.0,4.0,1.0,3.0,0.0,3.0,...,0.0,1.0,5.0,5.0,2.0,1.0,1.0,2.0,0.0,1.0

In [28]:
df_new = df_trans.reset_index()

In [29]:
df_new.head()

ENTIDAD,index,Aguascalientes,Baja California,Baja California Sur,Campeche,Chiapas,Chihuahua,Ciudad de México,Coahuila de Zaragoza,Colima,...,Quintana Roo,San Luis Potosí,Sinaloa,Sonora,Tabasco,Tamaulipas,Tlaxcala,Veracruz de Ignacio de la Llave,Yucatán,Zacatecas
0,2003-01-31,0.0,4.0,3.0,1.0,2.0,4.0,1.0,3.0,0.0,...,0.0,1.0,5.0,5.0,2.0,2.0,1.0,2.0,0.0,0.0
1,2003-02-28,0.0,3.0,3.0,2.0,2.0,4.0,1.0,3.0,0.0,...,0.0,1.0,5.0,5.0,2.0,2.0,1.0,2.0,1.0,0.0
2,2003-03-31,0.0,2.0,3.0,2.0,2.0,4.0,1.0,3.0,0.0,...,0.0,1.0,5.0,5.0,2.0,1.0,1.0,2.0,0.0,0.0
3,2003-04-30,0.0,2.0,3.0,2.0,2.0,4.0,1.0,3.0,0.0,...,0.0,1.0,5.0,5.0,2.0,1.0,1.0,2.0,0.0,1.0
4,2003-05-31,0.0,2.0,3.0,2.0,2.0,4.0,1.0,3.0,0.0,...,0.0,1.0,5.0,5.0,2.0,1.0,1.0,2.0,0.0,1.0

In [33]:
df_new.rename(columns = ({'ENTIDAD': 'index','index':'Date'}))

ENTIDAD,Date,Aguascalientes,Baja California,Baja California Sur,Campeche,Chiapas,Chihuahua,Ciudad de México,Coahuila de Zaragoza,Colima,...,Quintana Roo,San Luis Potosí,Sinaloa,Sonora,Tabasco,Tamaulipas,Tlaxcala,Veracruz de Ignacio de la Llave,Yucatán,Zacatecas
0,2003-01-31,0.0,4.0,3.0,1.0,2.0,4.0,1.0,3.0,0.0,...,0.0,1.0,5.0,5.0,2.0,2.0,1.0,2.0,0.0,0.0
1,2003-02-28,0.0,3.0,3.0,2.0,2.0,4.0,1.0,3.0,0.0,...,0.0,1.0,5.0,5.0,2.0,2.0,1.0,2.0,1.0,0.0
2,2003-03-31,0.0,2.0,3.0,2.0,2.0,4.0,1.0,3.0,0.0,...,0.0,1.0,5.0,5.0,2.0,1.0,1.0,2.0,0.0,0.0
3,2003-04-30,0.0,2.0,3.0,2.0,2.0,4.0,1.0,3.0,0.0,...,0.0,1.0,5.0,5.0,2.0,1.0,1.0,2.0,0.0,1.0
4,2003-05-31,0.0,2.0,3.0,2.0,2.0,4.0,1.0,3.0,0.0,...,0.0,1.0,5.0,5.0,2.0,1.0,1.0,2.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,2023-10-31,4.0,0.0,0.0,2.0,3.0,4.0,2.0,4.0,1.0,...,3.0,5.0,4.0,4.0,2.0,4.0,2.0,4.0,3.0,4.0
366,2023-11-15,4.0,0.0,0.0,2.0,3.0,4.0,2.0,3.0,1.0,...,3.0,5.0,4.0,4.0,2.0,4.0,2.0,4.0,3.0,4.0
367,2023-11-30,4.0,0.0,0.0,2.0,3.0,4.0,2.0,3.0,1.0,...,3.0,5.0,4.0,4.0,2.0,4.0,2.0,4.0,3.0,4.0
368,2023-12-15,4.0,0.0,0.0,2.0,3.0,4.0,2.0,3.0,0.0,...,3.0,5.0,4.0,4.0,2.0,4.0,1.0,4.0,3.0,4.0
369,2023-12-31,4.0,0.0,0.0,2.0,3.0,5.0,2.0,3.0,1.0,...,3.0,5.0,4.0,5.0,2.0,4.0,2.0,4.0,3.0,4.0

In [35]:
primera_columna = df_new.iloc[:, 1]
print(primera_columna)

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
365    4.0
366    4.0
367    4.0
368    4.0
369    4.0
Name: Aguascalientes, Length: 370, dtype: float64

In [37]:
df_new.columns

Index(['index', 'Aguascalientes', 'Baja California', 'Baja California Sur',
       'Campeche', 'Chiapas', 'Chihuahua', 'Ciudad de México',
       'Coahuila de Zaragoza', 'Colima', 'Durango', 'Estado de México',
       'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo',
       'Morelos', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla',
       'Querétaro de Arteaga', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa',
       'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala',
       'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas'],
      dtype='object', name='ENTIDAD')

In [38]:
df_new.columns.values[0] = 'DATE'

In [39]:
df_new.columns

Index(['DATE', 'Aguascalientes', 'Baja California', 'Baja California Sur',
       'Campeche', 'Chiapas', 'Chihuahua', 'Ciudad de México',
       'Coahuila de Zaragoza', 'Colima', 'Durango', 'Estado de México',
       'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo',
       'Morelos', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla',
       'Querétaro de Arteaga', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa',
       'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala',
       'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas'],
      dtype='object', name='ENTIDAD')

In [40]:
df_new.head()

ENTIDAD,DATE,Aguascalientes,Baja California,Baja California Sur,Campeche,Chiapas,Chihuahua,Ciudad de México,Coahuila de Zaragoza,Colima,...,Quintana Roo,San Luis Potosí,Sinaloa,Sonora,Tabasco,Tamaulipas,Tlaxcala,Veracruz de Ignacio de la Llave,Yucatán,Zacatecas
0,2003-01-31,0.0,4.0,3.0,1.0,2.0,4.0,1.0,3.0,0.0,...,0.0,1.0,5.0,5.0,2.0,2.0,1.0,2.0,0.0,0.0
1,2003-02-28,0.0,3.0,3.0,2.0,2.0,4.0,1.0,3.0,0.0,...,0.0,1.0,5.0,5.0,2.0,2.0,1.0,2.0,1.0,0.0
2,2003-03-31,0.0,2.0,3.0,2.0,2.0,4.0,1.0,3.0,0.0,...,0.0,1.0,5.0,5.0,2.0,1.0,1.0,2.0,0.0,0.0
3,2003-04-30,0.0,2.0,3.0,2.0,2.0,4.0,1.0,3.0,0.0,...,0.0,1.0,5.0,5.0,2.0,1.0,1.0,2.0,0.0,1.0
4,2003-05-31,0.0,2.0,3.0,2.0,2.0,4.0,1.0,3.0,0.0,...,0.0,1.0,5.0,5.0,2.0,1.0,1.0,2.0,0.0,1.0

In [41]:
primera_columna = df_new.iloc[:, 0]
print(primera_columna)

0     2003-01-31
1     2003-02-28
2     2003-03-31
3     2003-04-30
4     2003-05-31
         ...
365   2023-10-31
366   2023-11-15
367   2023-11-30
368   2023-12-15
369   2023-12-31
Name: DATE, Length: 370, dtype: datetime64[ns]